div#slider {
  width: 500px;
  height: 300px;
  border: 1px solid #eee;
  box-shadow: 0px 5px 15px #666;
  overflow: hidden;
  margin: 30px auto;
}

#slider > img {
  width: 500px;
  height: 300px;
  display: none;
}

.slider-wrapper > a {
  letter-spacing: -1px;
  padding: 7px 30px;
  margin-top: 30px;
  text-decoration: none;
  color: #666;
  position: relative;
  top: -230px;
  border-radius: 150px;
}

.slider-wrapper > a:visited {
  color: #666;
}

.link-hover {
  background-color: white;
  color: black;
  opacity: 0.4;
  transition: 1.2s;
}

.slider-wrapper > a.left {
  float: left;
  left: 155px;
  color: white;
}

.slider-wrapper > a.right {
  float: right;
  right: 155px;
}

div.slider-wrapper {
  position: relative;
  margin: 0 auto;
  width: 840px;
}